@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

* {
  min-width: 0px;
}

/* Leaflet map overrides */
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
.leaflet-container {
  background: transparent;
}
.leaflet-pane {
  z-index: 1;
}
.leaflet-control,
.leaflet-top,
.leaflet-bottom {
  z-index: 2;
}
